<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <Product
      Id="*"
      Name="GAMADV-XTD"
      Language="1033"
      Version="$(env.GAMVERSION)"
      Manufacturer="Ross Scroggs - ross.scroggs@gmail.com"
     UpgradeCode="8F29036B-667D-47F2-BAA8-2F79108C492D">
    <Package
        InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
        DowngradeErrorMessage=
            "A newer version of [ProductName] is already installed."
        Schedule="afterInstallExecute" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature
        Id="gam"
        Title="GAMADV-XTD"
        Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ROOT_DRIVE" Name="ROOTDRIVE">
          <Directory Id="INSTALLFOLDER" Name="GAMADV-XTD" />
        </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Group of components that are our main application items -->
    <ComponentGroup
        Id="ProductComponents"
        Directory="INSTALLFOLDER"
        Source="gam-64">
      <Component Id="gam_exe" Guid="e21d6106-f77d-4df8-910a-8f2d5a716171">
        <File Name="gam.exe" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="yes" />
      </Component>
      <Component Id="license" Guid="0ad1cb33-f18d-4c91-baa8-36c12f7c9bb9">
        <File Name="LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="whatsnew_txt" Guid="608695d2-10d9-4dba-813e-bc63489a8ed2">
        <File Name="whatsnew.txt" KeyPath="yes" />
      </Component>
      <Component Id="gam_setup_bat" Guid="2043b4ed-34d6-43ab-9012-d731ebd6d27a">
        <File Name="gam-setup.bat" KeyPath="yes" />
      </Component>
      <Component Id="GamCommands_txt" Guid="e28bc975-cc97-405d-9ab1-a8fde83d4b17">
        <File Name="GamCommands.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamAuthorization_txt" Guid="aec3a765-3a79-4405-9231-70c05c433d02">
        <File Name="GamAuthorization.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamConfig_txt" Guid="c56dd226-5882-4949-a18d-cfa660f9ff8e">
        <File Name="GamConfig.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamContacts_txt" Guid="cdc76fa9-d2fa-407f-b26f-978f2e4c1cfa">
        <File Name="GamContacts.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamDataSelection_txt" Guid="0ae70bac-246c-441a-b585-ac1fd723a016">
        <File Name="GamDataSelection.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamSites_txt" Guid="0657155a-d743-405f-9d42-a38c00cca6cf">
        <File Name="GamSites.txt" KeyPath="yes" />
      </Component>
      <Component Id="GamUpdate_txt" Guid="1ca32c9e-5a0c-4d0f-a09d-11a460864843">
        <File Name="GamUpdate.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <InstallUISequence>
      <ExecuteAction />
      <Show Dialog="WelcomeDlg" Before="ProgressDlg" />
    </InstallUISequence>
  </Fragment>
</Wix>
